<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Aptitudes y Conocimiento.
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 3</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
      <ion-card-content>
        -Redes de Computadores
      </ion-card-content>
      <ion-card-content>
        -Bases de Datos
      </ion-card-content>
      <ion-card-content>
        -Programación
      </ion-card-content>
      <ion-card-content>
        -Sistemas de seguridad
      </ion-card-content>
      <ion-card-content>
        -Sistemas Operativos
      </ion-card-content>
      <ion-card-content>
        -Arquitectura de Computadores
      </ion-card-content>
      <ion-card-content>
        -Ética y confiabilidad
      </ion-card-content>
     

      
      
      
     
      
      
      
      


  </ion-card>
 

</ion-content>
