<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Experiencia y Referencias
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>



  <ion-card>

    <ion-card-header>
      <ion-card-title>CNT</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      En esa área realice mantenimiento preventivo y correctivo en software y hardware de
      computadoras de los empleados de la empresa:
  
      <ion-card-content>
        -Instalación de herramientas de software
      </ion-card-content>
      <ion-card-content>
        -Mantenimiento preventivo y correctivo de Hardware y Software
      </ion-card-content>
    
    </ion-card-content>

    <ion-card-header>
      <ion-card-title>Trabajos Independientes</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      He desarrollado un emprendimiento dedicado al ensamblaje de computadoras de alto
      rendimiento orientado a los requerimientos de usuarios “Gamers” y Diseñadores, también he
      realizado instalación de sistemas de seguridad (cámaras de vigilancia, cercas eléctricas, etc) en
      domicilios.
      <ion-card-content>
        -Sistemas de seguridad, cercas eléctricas y cámaras de vigilancia en Empresa “Tecma”.
      </ion-card-content>
      <ion-card-content>
        -Mantenimiento preventivo y correctivo de computadoras personales.
      </ion-card-content>
      <ion-card-content>
        -Emprendimiento “GamerFoxec” en Ensamblado de computadoras de escritorio de alto
          rendimiento.
      </ion-card-content>
 
   
      <ion-card-header>
        <ion-card-title>Referencias</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Lucia Carrillo – 098536012
      </ion-card-content>
      <ion-card-content>
        Juan Adatti – Enterprise – 0987049936
      </ion-card-content>
     
      
      
    </ion-card-content>

  </ion-card>
 

</ion-content>
