<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Educación
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 3</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>

    <ion-card-header>
      <ion-card-title>Colegio Patrimonio de la Humanidad</ion-card-title>
    </ion-card-header>
    <ion-card-content>
     -Técnico en Aplicaciones Informáticas 2015
    </ion-card-content>

    <ion-card-header>
      <ion-card-title>Escuela Politécnica Nacional</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      -Quinto semestre – Tecnología en Análisis de Sistemas Informáticos.
    
      
      
      
      
     
      
      
      
      
    </ion-card-content>

  </ion-card>
 

</ion-content>
